body {
  background-color: #21232a;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 10%;
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  color: #555555;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 7px 12px;
  padding: 4px 12px;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 10px;
  overflow: hidden;
}

.img-card {
  border-radius: 12px;
  margin: auto;
  max-width: 210px;
  min-height: 120px;
  object-fit: contain;
}
